<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
        <Table>
            <Row>
                <Cell><Data ss:Type="String">Customer Name</Data></Cell>
                <Cell><Data ss:Type="String">Service Name</Data></Cell>
                <Cell><Data ss:Type="String" ss:Bold='1'>Amount</Data></Cell>
                <Cell><Data ss:Type="String" ss:Bold='1'>Amount Paid</Data></Cell>
            </Row>
            <Row></Row>
            <% @records.each do |bill| %>
                <Row>
                    <Cell><Data ss:Type="String"><%= bill.customer_name %></Data></Cell>
                    <Cell><Data ss:Type="String"><%= bill.service_name %></Data></Cell>
                    <Cell><Data ss:Type="Number"><%= bill.amount %></Data></Cell>
                    <Cell><Data ss:Type="Number"><%= bill.amount_paid %></Data></Cell>
                </Row>
            <% end %>
        </Table>
    </Worksheet>
</Workbook>