.no-left-margin {
	margin-left: 0px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-20{
	margin-bottom: 20px !important;
}
.no-bottom-margin {
	margin-bottom: 0px !important;
}
.inline-block{
	display: inline-block;
}
.text-align-left{
	text-align: left !important;
}
@media print {
	.visible-print {display: inherit !important;}
	.hidden-print {display: none !important;}
	body{
		div{
			font-size: 45px;
			line-height: 80px;
		}
	}
	h1.text-center{
		font-size: 75px;
		line-height: 80px;
	}
	h3.text-center{
		font-size: 50px;
		line-height: 80px;
	}
}